@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
* {
    font-family: 'Source Code Pro', monospace;
}

.text {
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    font-size: 50px;
}

.text span {
    color: red;
}