@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
* {
    font-family: 'Source Code Pro', monospace;
}

body{
    background-color:rgb(18, 18, 18);
}

.header {
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.subtitle {
  text-align: center;
  padding-top: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(219, 114, 114);
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.kilder {
  text-align:center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 166, 0);
}
.bergenimage {
  padding-left: 0px;
  margin-top: 200px;
  height: 400px;
  width: auto;
}

.kanelbollensdagbilde {
  padding-left: 0px;
  margin-top: 200px;
  height: 400px;
  width: auto;
}

.ibergenbilde {
  padding-right: 0px;
  margin-top: 200px;
  height: 400px;
  width: auto;
}

a:link {
  color: rgb(255, 129, 150);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 129, 150);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 251, 145);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 129, 150);
  background-color: transparent;
  text-decoration: underline;
}

.kanelbollebleoppfunnetibergen {
  text-align: center;
  margin-top: 390px;
  float: right;
  margin-left: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

.kanelbollensdag {
  text-align: center;
  margin-top: 390px;
  float: left;
  margin-right: 150px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

.ibergen {
  text-align: center;
  margin-top: 390px;
  float: right;
  margin-left: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.fivestar{
  width: 150px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  color: floralwhite;
}

.active:hover{
  color: rgb(255, 217, 217);
}

.kanelbolleoppskrift{
  font-size:x-large;
  margin-left: 10%;
}

.one{
  color: #f2f2f2;
  font-size: 30px;
  font-style: bold;
  margin-bottom: 50px;
}

.two{
  color: #f2f2f2;
  line-height: 30px;
}

.three{
  color: #f2f2f2;
  text-decoration: wavy;
}